body{
    background-image: url(./telas-de-fundo/teladefundoharrypotter.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

@font-face {
    font-family: Harry-Potter;
    src: url(/ProjetoWeb/src/css/fontes/HARRYP__.TTF);
}

.titulo-principal {
    color: #f1f1f1;
    margin: 25% 0;
    text-align: center;
    font-size: 5rem;
    font-family: Harry-Potter;
}

.titulo-secundario {
    color: #f1f1f1;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-family: Harry-Potter;
}

.titulo-dos-filmes {
    color: #f1f1f1;
    margin: 10% 0 2%;
    text-align: center;
    font-size: 3em;
    font-family: Harry-Potter;
}

.p-dos-filmes {
    color: #f1f1f1;
    margin: 0 15% 0 20%;
    text-align: justify;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.cartaz {
    width: 20%;
    float: left;
    margin-left: 15%;
    margin-right: 2%;
}

#a {
    margin-top: 10%;
    margin-bottom: 2%;
}

footer {
    background-color: #6e6e6e;
    margin-top: 55px;
    text-align: center;
    margin-top: 10%;
}

footer p {
    text-align: center;
}

footer img {
    width: 10%;
}

.fut {
    background: #6e6e6e;
    background-size: 100%;
}

.loguinho {
    cursor:auto;
}

@media only screen and (max-width: 768px) {
    .titulo-principal {
        font-size: 4rem;
        margin: 10% 0;
    }

    .titulo-secundario {
        font-size: 1.8rem;
        margin: 6% 0;
    }

    .titulo-dos-filmes {
        font-size: 2.5em;
        margin: 6% 0 2%;
    }

    .p-dos-filmes {
        font-size: 1.2rem;
        margin: 0 5%;
    }

    .cartaz {
        width: 50%;
        margin: 0 25%;
        float: none;
    }
}